{% extends "user/base.html" %}
{% block contents %}
{% ifnotequal email ' ' %}
<h1> {{ email }} 님 환영합니다. </h1>
{% else %}
<h1> 환영합니다. </h1>
{% endifnotequal %}
<div class="row mt-5">
    <div class="col-12">
        <h3> 알림 : 모든 상품 등록은 관리자만 신청할 수 있습니다. </h3>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        {% ifnotequal email ' ' %}
        <button class="btn btn-primary" onclick="location.href='/logout/'">로그아웃</button>
        {% else %}
        <button class="btn btn-primary" onclick="location.href='/register/'">회원가입</button>
        <button class="btn btn-primary" onclick="location.href='/login/'">로그인</button>
        {% endifnotequal %}

        <div class="row mt-5">
            <div class="col-12">
                <button class="btn btn-primary" onclick="location.href='/product/'">상품 목록</button>
                {% ifnotequal email ' ' %}
                <button class="btn btn-primary" onclick="location.href='/order/'">내 주문 목록</button>
                {% endifnotequal %}
            </div>
        </div>
    </div>
</div>
{% endblock %}